/*Responsive deisgn code*/

/*phone*/
/*-----Prevents iPhone from resizing in landscape mode -----*/
html (-webkit-text-size-adjust: none; ) {

}

/*-----Apply a natural box layout model to all elements -----*/
* ( -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; ) {

}

/*tablet*/
@media only screen and (min-width: 550px) {

}

/*End responsive design code*/


/*Main page styles*/

html, body {
    font-size: larger;
    color: #000;
    font-family:'Lora', serif;
    /*background-image: url("../images/brushedsteel5.jpg");*/
    background-color: #eee;
    /*background-repeat: repeat-y;*/
    margin:0;
    padding:0;
    height:95%;
}

.main {
    width: auto;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: auto;
    /*position: relative;
    height: 100%;*/
}

.content {
   overflow: auto;
   padding-bottom: 20px;
}

/*End main page styles*/

/*Font and alignment classes*/

.italic {
    font-style: italic;
}

.vivaldi {
    font-family: 'vivaldi';
}

.smaller {
    font-size: 80%;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.large-120 {
    font-size: 120%;
    font-weight: 700;
}

.large-130 {
    font-size: 130%;
}

.larger {
    font-size: 200%;
}

.center {
    text-align: center;
}

.center img {
    border: double #000;
    padding: 5px; 
    margin-top: 1%; 
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bottom-1pct {
    margin-bottom: 1%;
}

/*End font and alignment classes*/

/* Biography & Published Works page styles */

.bio {
    font-family:'Lora', serif;
    font-size: large;
    width: 55%;
    text-align: left;
    float: left;
    padding-left: 2%;
    padding-top: 2%;
}

/*div with bottom margin of 1%*/
.margin-bottom-1 {
    margin-bottom: 1%;
    float: left;
    margin-top:  .4%;  
    /*width: 50%; */
}

.margin-bottom-1 span {
    font-size: 110%;
    text-indent: 2.5%;
}

.published-works {
    text-align: left;
    padding-left: 18%;
    width: 65%;
}

.published-works dd {
    font-size: 80%;
}

.published-works span {
    font-style: italic;
}

/* End Biography & Published Works page styles */

/*Link styles*/

a {
    text-decoration: none;
}

a:hover {
    color: #9F000F;
    text-decoration: underline;
}

/*End link styles*/


/*Header classes*/

.header-excerpts {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-family: 'lucida calligraphy',arial,'sans serif';
    margin: 1% 0;
}

.header-center-bold {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-top: 1.2%;
}

.small-header-essay {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 1%;
}

/*End header classes*/

/*Styling classes*/

.book-series-summary-wdth100pct {
   font-family: Lora, serif;
   overflow: auto;
  /* margin-bottom: 1%*/;
   width: 100%;
}

.col-wdth30pct {
    width: 30%;
    max-width: 30%;
    float: left;
    margin-left: 2%;
    align-content: center;
}

.col-wdth30pct img {
    border: double #000;
    padding: 5px; 
    margin-top: 3%; 
}

.contact-text {
    font-family:'Lora', serif;
    font-size: large;
    width: 75%;
    text-align: left;
    float: left;
    padding-top: 1%;
    padding-left: 10%;
    text-indent: 2.5%;
}

.contact-text span {
    font-style: italic;
    font-size: 130%;
}

.copyright-published {
    text-align: center;
    /*padding-right: 39%;*/
}

.credit-bottom-right {
    font-family: 'vivaldi';
    font-size: large;
    text-align: right;
    padding-right: 16%;
}

/*eric's name on index.php*/
.eric-koch {
    font-size: 225%;
    font-weight: normal;
    text-align: center;
    font-family: 'vivaldi';
    margin-bottom: .8%; 
}

.essay-series-summary-wdth100pct {
   font-family: Lora, serif;
   overflow: auto;
   margin-top: 1%;
   width: 100%;
}


.footer {
    font-size: medium;
    height: 1%;
    /*position: absolute;*/
    text-align: center;
    bottom: 2%;
}

.img {
    border: double #000;
    padding: 5px;  
}

.keep-it-together {
    overflow: auto;
}

.logo {
    /*float: left;*/
    position: absolute;
    left: auto;
    top: auto;
    padding-left: 5%;
    margin: .1% 0 0 0;
}

.more {
    text-align: right;
    font-family: "lucida calligraphy",arial,'sans serif';
    font-weight: 600;
    margin-right: 10%;
}

.overflow-auto {
    overflow: auto;
}

.page-wdth100pct {
    width: 100%;
   /* padding-top: .1%*/;
    /*padding-left: 230px;*/
}

.essay-pic{
    text-align: left;
    padding-left: 1%;
    float: left;
}

.essay-text-excerpt {
    font-family:'Lora', serif;
    font-size: large;
    text-align: center;
    margin-right: 35%;
   /* float: left;*/
    overflow: auto;
    overflow-y: hidden;
    padding-top: 20px;
    width: 44%;
}

.songs {
    font-family:'Lora', serif;
    font-size: large;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 20px;
    width: 100%;
}

.time {
    font-family:'Lora', serif;
    font-size: 60%;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 20px;
    width: 100%;
}

/*End styling classes*/

/*Prologue classes*/

.tagline-right-prologue {
    text-align: right;
    margin-right: 30%;
    font-style: italic;
    font-size: small;
}

.prologue-psi-chapter {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5%;
}

.prologue-text {
    font-family: 'Lora', serif;
    font-size: large;
    overflow: visible;
    padding-top: 0.6%;
    margin: 0 auto;
    text-indent: 2.5%;
    width: 80%;
}

.prologue-text .pt-oet {
    font-family: 'Old English Text MT';
    font-size: 130%;
}

.prologue-text-center-italic {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: large;
    overflow: visible;
    padding-top: 0.5%;
    margin: 0 auto;
    text-indent: 3%;
    text-align: justify;
    width: 40%;
}

/*End prologue classes