Google logo Drive
Add to Drive
CSci212 › ... › Starter Code - Ned Home Page3 items
JPEG Image
green-floral-bg.jpg
HTML
index.html

styles.css
styles.css
header, section, footer, figure {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #5D6BBA;
    background-image: url("../images/underwater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 80%;
    margin: auto auto;
    color: #000;
}

header h1 {
    font-size: 250%;
    font-family:"lucida calligraphy",arial,'sans serif'; 
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em green;
    color: white;
}

.title {
    padding: 1em;
    width: 75%;
    box-sizing: border-box;
    margin: 0;
    display: inline;
    float: left;
}

.about {
    width: 25%;
    box-sizing: border-box;
    margin: 20px 0;
    display: inline;
    float: left;
    border: solid 1px black;
    padding: 1%;
    background-color: #fff;
}

img {
    width: 100%;
}

#content-wrapper {
    clear: both;
    width: 80%;
    margin: 20px auto;
    min-height: 10em;
    height: auto;
}

.feature-wrapper {
    display: inline;
    float: left;
    width: 48%;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 5%;
    border: solid 1px black;
    padding: 1em;
    background-color: #fff;
}

.feature-wrapper h3 {
    text-align: center;
}

.feature-wrapper:last-child {
    margin-right: 0;
    margin-left: 2%;
}

.feature-wrapper a {
    text-decoration: none;
    color: #678396;
}

@media screen and (max-width: 600px)
{
    .title, .about,
    .feature-wrapper,
    .feature-wrapper:last-child {
        width: 95%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .about {
        padding: 1%;
    }
}

.clearfix:after {
    content: "\00A0";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.side-shadow-outer {
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.8);
}

.side-shadow-outer:before, .side-shadow-outer:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.side-shadow-outer:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow:0 1px 6px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.2) inset;
    box-shadow:0 1px 6px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 1 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 1 20px rgba(0,0,0,0.8);
    box-shadow:0 1 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.see-through {
    background-color: rgba(255,255,255,0.9);
    position: relative;
}


a:hover, #horiz-nav a:hover {
    color: #336f90;
}

footer {
    position: relative;
    margin-top: 1em;
    padding: 0 1em 1em;
}

.third {
    float: left;
    width: 33%;
    box-sizing: border-box;
}

.third:last-child {
    text-align: right;
}














3 of 3 items
green-floral-bg.jpgindex.htmlstyles.cssDisplaying styles.css.